<div id="skillWrapper" class="inputWrapper" ng-show="showSkillInput">
    <div id="skillInputDialog">
        <label>Name</label>
        <input type="text" ng-model="tempSkill.name" />
        <br>
        <label>Type</label>
        <select ng-model="tempSkill.type">
            <option ng-repeat="orderType in orderTypes" value="{{orderType}}">{{orderType}}</option>
        </select>
        <br>
        <label>Description</label>
        <textarea ng-model="tempSkill.desc"></textarea>
        <br>
    </div>
    <div id="skillInputButtons">
        <button ng-click="addSkill()">Add Skill</button>
        <button ng-click="exportSkill()">Export Skill</button>
    </div>
</div>