<div class="exportWrapper">
    <div id="weaponExportDialog">
        <label>Export Data</label>
        <br>
        <textarea readonly rows="8" cols="55" json-text ng-model="tempWeapon" ></textarea>
    </div>
    <div id="exportDescription">
        <p class="note">Thanks for wanting to help out the community by taking the time to export your weapon! You can submit it via this form here: <a href="https://docs.google.com/forms/d/104NHHaqOhja7uWBJ5oQ2M7jZN25tijcSz88iEUUUQkI/viewform?usp=send_form" target="_blank">Google Form</a></p>
    </div>
    <div id="weaponExportButtons">
        <button ng-click="closeThisDialog()">Close</button>
    </div>
</div>