@media print {
    #inputArea {
        display: none;
    }
    #hideInputBox {
        display: none;
    }
    #cardHolder {
        size: 152mm 112mm
    }
    .cardBackground {
        size: 76mm 112mm;
        float: left;
    }
    .cardBackBackground {
        size: 76mm 112mm;
        float: left;
    }
    #footer {
        display: none;
    }
}

body {
    margin-bottom: 70px;
}

button {
    font: 12px Orbitron;
}

button.on {
    background-color: darkslategray;
}

#footer {
    position: fixed;
    color: #CACACA;
    text-align: center;
    font-family: Arial, height: 55px;
    background-color: #343E3D;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    width: 100%;
}

.cardBackground {
    position: relative;
    height: 414px;
    width: 274px;
    background-color: #dcdddf;
    float: left;
    border: 1px white solid;
}

.cardBackground:after {
    position: absolute;
    right: 0px;
    bottom: 0px;
    content: '';
    border-bottom: 20px solid white;
    border-left: 20px solid transparent;
}

#inputArea {
    width: 500px;
    height: 90vh;
    margin-right: 50px;
    margin-bottom: 100px;
    float: left;
    overflow: auto;
    padding: 0px 10px 0px 10px;
}

.cardTop {
    position: relative;
    height: 20px;
    width: 274px;
    border-top: 2px;
    border-right: 2px;
    border-left: 2px;
}

.cardTop:after {
    position: absolute;
    left: -0px;
    bottom: -0px;
    content: '';
    border-top: 20px solid white;
    border-right: 20px solid transparent;
}

.cardBody {
    padding-left: 8px;
    padding-right: 8px;
}

#cardHeader {
    position: relative;
    margin-left: 2px;
    width: 100%;
    height: 100px;
}

#imageArea {
    position: relative;
    width: 90px;
    float: left;
    height: 100%;
    margin-left: 3px;
    margin-right: -2px;
}

#unitSummary {
    position: relative;
    float: left;
    height: 100px;
    width: 165px;
    padding: 0px;
}

#unitImage {
    position: relative;
    z-index: 1;
    border: 2px white solid;
    height: 90px;
    width: 80px;
}

#unitHeader {
    position: relative;
    width: 168px;
    height: 40px;
    font: 6.5px Orbitron;
    color: white;
    float: left;
    padding-top: 2px;
}

#soldierName {
    font: 16px Orbitron;
    width: 145px;
}

#faction {
    width: 145px;
    top: 0px;
}

#unitDetails {
    float: left;
    position: relative;
    font: 13px Orbitron;
    color: black;
    width: 165px;
    height: 15px;
    margin-top: 0px;
    margin-right: 0px;
}

.costNumber {
    height: 25px;
    float: left;
}

.upLabel {
    font: 5.5px Orbitron;
    float: left;
    margin-right: 5px;
}

.itemList {
    position: relative;
    float: left;
    font: 7px Orbitron;
    height: 15px;
    width: 160px;
}

#specType {
    color: #333333;
    font: 9px Orbitron;
    width: 75px;
    padding: 0px 0px 0px 0px;
    margin: 2px 0px 0px 0px;
    border-left: 2px solid;
    height: 10px;
    float: right;
    text-align: right;
}

#unitWeapons {
    position: relative;
    float: none;
    color: #0090A5;
    height: 15px;
    width: 160px;
    font: 6px Orbitron;
}

#unitSecondaries {
    position: relative;
    color: #004D58;
    height: 15px;
    width: 160px;
}

#unitSkills {
    position: relative;
    color: #A54900;
    height: 15px;
    width: 160px;
}

.weaponList {
    font: 7px Orbitron;
    float: left;
    margin-right: 7px
}

.skillList {
    font: 7px Orbitron;
    float: left;
    margin-right: 7px
}

#unitEquip {
    font: 7px Orbitron;
    float: none;
    margin-right: 7px;
    color: #582700;
}

.equipList {
    font: 7px Orbitron;
    float: left;
    margin-right: 8px;
}

#statsDiv {
    margin-top: 3px;
    padding-top: 3px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    height: 30px;
    z-index: 3;
}

#statsBottom {
    top: -7px;
    margin-bottom: 0px;
    padding-bottom: 11px;
}

#stats {
    background-color: 0090a5;
    position: relative;
    float: none;
    width: 235px;
    font: 10px Orbitron;
    text-align: center;
}

#unitStats {
    background-color: 0090a5;
    height: 15px;
    width: 230px;
    font: 10px Orbitron;
}

#orders {
    position: relative;
    height: 0px;
    z-index: 2;
    left: -8px;
}

.orderContainer {
    height: 20px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.hackable {
    background: url(https://static1.squarespace.com/static/5079f36584ae362b5e77c2e9/56478641e4b04fa71c754a24/565ddac6e4b07dd0e779efb0/1448991431059/cube_hackable_20px.png) 0 -40px no-repeat;
    width: 20px;
    height: 20px;
}

#skillBox {
    margin-left: 33px;
    height: 60px;
    width: 380px;
    background-color: grey;
}

#scoresTop {
    background-color: #0090a5;
    height: 10px;
    padding-bottom: 0px;
    margin-top: 0px;
}

#scoresBottom {
    background-color: #0090a5;
    font: 10px Orbitron;
    height: 12px;
    padding-top: 0px;
    padding-bottom: 7px;
    margin-bottom: 0px;
}

#scoresTable {
    width: 100%;
}

.scores {
    width: 25%;
    text-align: right;
}

.scoresInput {
    width: 25%;
    color: #444444;
    padding-right: 30px;
    font: 12px Orbitron;
}

#backgroundHeader {
    background-color: #0090a5;
    padding-bottom: 5px
}


/* Skill boxes. */

.skillTypeAutomatic {
    background-color: black;
}

.skillTypeShort {
    background-color: green;
}

.skillTypeShort-Aro {
    background-color: green;
}

.skillTypeEntire {
    background-color: red;
}

.skillTypeDeployment {
    background-color: purple;
}

.skillName {
    float: left;
}

.skillType {
    float: right;
}


/* End Skill boxes. */


/* Equipment Type Boxes. */

.equipTypeAutomatic {
    background-color: black;
}

.equipTypeShort {
    background-color: green;
}

.equipTypeShort-Aro {
    background-color: green;
}

.equipTypeEntire {
    background-color: red;
}

.equipTypeEquipment {
    background-color: black;
}

.equipTypeDeployment {
    background-color: purple;
}

.equipName {
    float: left;
}

.equipType {
    float: right;
}


/* End Equipment Type. */


/* Card back stuff. */

.cardBackBackground {
    position: relative;
    height: 414px;
    width: 274px;
    float: left;
    border: 1px white solid;
}

.cardBackBackground:after {
    position: absolute;
    left: 0px;
    bottom: 0px;
    content: '';
    border-bottom: 20px solid white;
    border-right: 20px solid transparent;
}

.cardBackBody {
    margin-left: 8px;
    margin-right: 8px;
}

.backHeader {
    position: relative;
    height: 20px;
    width: 274px;
    border-top: 2px;
    border-right: 2px;
    border-left: 2px;
}

.backHeader:after {
    position: absolute;
    right: -0px;
    bottom: -0px;
    content: '';
    border-top: 20px solid white;
    border-left: 20px solid transparent;
}

#hiddenInfo {
    height: 15px;
}

#hiddenInfoBottom {
    margin-top: 0px;
    height: 15px;
}

#camoSpace {
    width: 130px;
    float: left;
    font: 12px Orbitron;
    margin-top: 1px;
}

#ltSpace {
    width: 70px;
    float: right;
    font: 12px Orbitron;
    margin-right: 10px;
    margin-top: 1px;
}

#ltBox {
    float: right;
    width: 15px;
    height: 15px;
    margin: 1px;
    background-color: silver;
}


/* End card back. */


/*
The cutCorner stuff.  See here:
http://stackoverflow.com/questions/19248443/is-it-possible-to-create-an-angled-corner-in-css
*/

.cutCorner {
    position: relative;
    border-top: 2px solid white;
    border-right: 2px solid white;
    border-left: 2px solid white;
    display: inline-block;
    margin-left: 0px;
    margin-right: 0px;
    width: 235px;
    padding: 0px 10px 0px 10px;
    font: 10px Orbitron;
    color: white;
}

.cutCorner img {
    display: block;
}

.cutCorner:before {
    position: absolute;
    left: -1px;
    top: -1px;
    content: '';
    border-top: 12px solid white;
    border-right: 12px solid transparent;
}

.cutCorner:after {
    position: absolute;
    left: -3px;
    top: -3px;
    content: '';
    border-top: 12px solid #dcdddf;
    border-right: 12px solid transparent;
}

.cutCornerBottom {
    position: relative;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    top: -4px;
    display: inline-block;
    margin-left: 0px;
    width: 235px;
    background-color: grey;
    padding: 0px 10px 4px 10px;
    font: 8px Orbitron;
    color: white;
}

.cutCornerBottom:before {
    position: absolute;
    right: -1px;
    bottom: -1px;
    content: '';
    border-bottom: 12px solid white;
    border-left: 12px solid transparent;
}

.cutCornerBottom:after {
    position: absolute;
    right: -3px;
    bottom: -3px;
    content: '';
    border-bottom: 12px solid #dcdddf;
    border-left: 12px solid transparent;
}

.cutCornerBack {
    position: relative;
    border-top: 2px solid white;
    border-right: 2px solid white;
    border-left: 2px solid white;
    display: inline-block;
    width: 235px;
    padding: 0px 10px 0px 10px;
    font: 10px Orbitron;
    color: white;
}

.cutCornerBack:before {
    position: absolute;
    right: -1px;
    top: -1px;
    content: '';
    border-top: 12px solid white;
    border-left: 12px solid transparent;
}

.cutCornerBack:after {
    position: absolute;
    right: -3px;
    top: -3px;
    content: '';
    border-top: 12px solid #dcdddf;
    border-left: 12px solid transparent;
}

.cutCornerBackBottom {
    position: relative;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    top: -4px;
    display: inline-block;
    width: 235px;
    background-color: grey;
    padding: 0px 10px 5px 10px;
    font: 8px Orbitron;
    color: white;
}

.cutCornerBackBottom:before {
    position: absolute;
    left: -1px;
    bottom: -1px;
    content: '';
    border-bottom: 12px solid white;
    border-right: 12px solid transparent;
}

.cutCornerBackBottom:after {
    position: absolute;
    left: -3px;
    bottom: -3px;
    content: '';
    border-bottom: 12px solid #dcdddf;
    border-right: 12px solid transparent;
}
/* End cutCorner */

div.colorHolder {
    margin-left: 2px;
    width: 200px;
    min-width: 200px;
    height: 60px;
    min-height: 60px;
    position: relative;
    flex: 1;
}

div.colorButtonHolder {
    flex: 2;
    padding: 5px;
    min-width: 200px;
    align-items: center;
    background-color: bisque;
}

.fullSelect {
    width: 98%;
    margin: 2px 5px 2px 5px;
}

h3 {
    font: 16px Orbitron;
    font-weight: 800;
    padding: 2px;
    margin: 0px;
}

label {
    font: 12px Orbitron;
    padding: 2px;
}

p.note {
    font: 12px Orbitron;
    padding: 0px 5px;
}

select {
    padding: 2px;
    font: 10px Orbitron;
}

input {
    font: 12px Orbitron;
}

a.directLink {
    float: right;
    font: 12px Orbitron;
    margin-right: 6px
}

/* Color Picker CSS Reqs */
.color-picker-input {
    height: 30px;
}

#colorFlex {
    display: flex;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    
}