<!DOCTYPE html>
<html ng-app="infinityCardApp">

<head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="js/app.js"></script>
    <link rel="stylesheet" href="css/app.css">
    <title>Infinty Card Generator</title>
    <link href='https://fonts.googleapis.com/css?family=Orbitron:500' rel='stylesheet' type='text/css'>
</head>

<body ng-controller="InfinityCardController">
    <div id="inputArea" ng-hide="hideInput">
        <label>Unit Selection Area</label>
        <p>Note: Selecting units here may override previously provided inputs.</p>
        <select ng-model="temp.faction" ng-options="unit.faction for unit in units" ng-change="setFaction()">
        </select>
        <br>
        <select ng-model="temp.unit" ng-options="unit.fullName for unit in temp.faction.units" ng-change="setUnit()">
        </select>
        <br>
        <select ng-model="temp.loadout" ng-options="loadout.name for loadout in temp.unit.loadouts" ng-change="setLoadout()">
        </select>
        <hr>
        <label>Name</label>
        <input type="text" ng-model="model.name">
        <hr>
        <label>Faction</label>
        <input type="text" ng-model="model.faction">
        <hr>
        <label>Unit</label>
        <input type="text" ng-model="model.unit">
        <hr>
        <label>Cube:</label>
        <select id="cube" ng-model="model.cube">
            <option value="none">None</option>
            <option value="cube">Cube</option>
            <option value="cube 2.0">Cube 2.0</option>
        </select>
        <hr>
        <label>Order Type</label>
        <select id="order" ng-model="model.order">
            <option value="regular">Regular</option>
            <option value="irregular">Irregular</option>
        </select>
        <hr>
        <label>Fury</label>
        <select id="fury" ng-model="model.fury">
            <option value="notImpetuous">Not Impetuous</option>
            <option value="impetuous">Impetuous</option>
            <option value="exImpetuous">Extremely Impetuous</option>
            <option value="frenzy">Frenzy</option>
        </select>
        <hr>
        <input type="checkbox" ng-model="model.hackable">Hackable</input>
        <hr>
        <label>Unit Image</label>
        <input type="text" ng-model="model.unitImage">
        <br>
        <input type="checkbox" ng-model="model.scaleHoriz">Scale Horizontally</input>
        <hr>
        <label>Cost:</label>
        <br>
        <label>Points:</label>
        <input type="text" ng-model="model.cost">
        <label>SWC:</label>
        <input type="text" ng-model="model.swc">
        <br>
        <label>Specialist Type:</label>
        <select ng-model="model.specialist">
            <option ng-repeat="special in specialistTypes" value="{{special.value}}">{{special.name}}</option>
        </select>
        <hr>
        <div id="skillsSelector">
            <table>
                <tr>
                    <td>
                        <label>Skills on Front:</label>
                        <br>
                        <select multiple ng-model="model.selectedSkills">
                            <option ng-repeat="skill in skills" type="checkbox" class="skillCheck" value="{{skill.name}}">{{skill.name}}</option>
                        </select>
                    </td>
                    <td>
                        <label>Skills on Back:</label>
                        <br>
                        <select multiple ng-model="model.selectedSkillsBack">
                            <option ng-repeat="skill in skills" type="checkbox" class="skillCheck" value="{{skill.name}}">{{skill.name}}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Weapons:</label>
                        <br>
                        <select multiple ng-model="model.selectedWeapons">
                            <option ng-repeat="weapon in weapons" value="{{weapon.name}}">{{weapon.name}}</option>
                        </select>
                    </td>
                    <td>
                        <label>CC Weapons:</label>
                        <br>
                        <select multiple ng-model="model.selectedSecondaries">
                            <option ng-repeat="secondary in secondaryWeapons" value="{{secondary.name}}">{{secondary.name}}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Equipment on Front:</label>
                        <br>
                        <select multiple ng-model="model.selectedEquipment">
                            <option ng-repeat="equip in equipment" value="{{equip.name}}">{{equip.name}}</option>
                        </select>
                    </td>
                    <td>
                        <label>Equipment on Back:</label>
                        <br>
                        <select multiple ng-model="model.selectedEquipmentBack">
                            <option ng-repeat="equip in equipment" value="{{equip.name}}">{{equip.name}}</option>
                        </select>
                    </td>
                </tr>
            </table>
        </div>
        <div id="equipmentSelector">

        </div>
        <hr>
        <div>
            <label>Kills:</label>
            <input type="text" ng-model="model.kills" />
            <br>
            <label>Deaths:</label>
            <input type="text" ng-model="model.deaths" />
            <br>
            <label>Matches:</label>
            <input type="text" ng-model="model.matches" />
        </div>
        <hr>

        <table id="inputTable">
            <th>
                <th>MOV</th>
                <th>CC</th>
                <th>BS</th>
                <th>PH</th>
                <th>WIP</th>
                <th>ARM</th>
                <th>BTS</th>
                <th>W</th>
                <th>S</th>
            </th>
            <tr>
                <td/>
                <td>
                    <input type="text" size=2 ng-model="model.MOV">
                </td>
                <td>
                    <input type="text" size=2 ng-model="model.CC">
                </td>
                <td>
                    <input type="text" size=2 ng-model="model.BS">
                </td>
                <td>
                    <input type="text" size=2 ng-model="model.PH">
                </td>
                <td>
                    <input type="text" size=2 ng-model="model.WIP">
                </td>
                <td>
                    <input type="text" size=2 ng-model="model.ARM">
                </td>
                <td>
                    <input type="text" size=2 ng-model="model.BTS">
                </td>
                <td>
                    <input type="text" size=2 ng-model="model.W">
                </td>
                <td>
                    <input type="text" size=2 ng-model="model.S">
                </td>
            </tr>
        </table>
        <hr>
        <label>Character Background:</label>
        <br>
        <textarea id="textArea" ng-model="model.background" cols="65" rows="5">{{model.background}}</textarea>
        <br>
        <input type="checkbox" ng-model="model.backgroundOnFront">Background on Front</input>
        <hr>
        <label>Hidden Information</label>
        <br>
        <input type="checkbox" ng-model="model.hasCamo">Camoflaged Unit?</input>
        <br>
        <input type="checkbox" ng-model="model.canBeLt">Can be Lieutennant?</input>
        <hr>
        <input type="checkbox" ng-model="showJson">Show Json</input>
        <br>
        <textarea id="jsonInput" json-text ng-model="model" ng-show="showJson" rows="15" cols="65"></textarea>
        <hr>
    </div>
    <div id="hideInputBox">
        <input type="checkbox" ng-model="hideInput">Hide Input</input>
        <hr>
    </div>

    <div id="cardHolder">

        <div id="cardBackground">
            <div id="cardTop"></div>
            <div id="cardBody">
                <div id="cardHeader">
                    <div id="imageArea">
                        <div id="orders">
                            <div class="orderContainer">
                                <img ng-show="model.cube == 'cube'" height="20" width="20" src="images/cube.png">
                                <img ng-show="model.cube == 'cube 2.0'" height="20" width="20" src="images/cube_20.png">
                                <div ng-show="model.cube == 'none'"></div>
                            </div>
                            <div class="orderContainer">
                                <img height="20" width="20" src="images/{{model.order}}.png">
                            </div>
                            <div class="orderContainer">
                                <img height="20" width="20" src="images/{{model.fury}}.png">
                            </div>
                            <div class="hackable" ng-show="model.hackable"></div>
                        </div>
                        <div id="unitImage">
                            <img ng-show="model.scaleHoriz" src="{{model.unitImage}}" alt="Unit image not found." width="80" height="90">
                            <img ng-hide="model.scaleHoriz" src="{{model.unitImage}}" alt="Unit image not found." width="80" height="90">
                        </div>
                    </div>
                    <div id="unitSummary">
                        <div id="unitHeader">
                            <div id="soldierName" class="cutCorner">{{model.name}}</div>
                            <div id="faction" class="cutCornerBottom">{{model.faction}} - {{model.unit}}</div>
                        </div>
                        <div id="unitDetails">
                            <div id="cost" class="costNumber">{{model.cost}} </div>
                            <div class="upLabel">PTS</div>
                            <div id="swc" class="costNumber">{{model.swc}}</div>
                            <div class="upLabel">SWC</div>
                            <div id="specType">{{model.specialist}}</div>
                        </div>
                        <div id="unitWeapons">
                            <div class="weaponList" ng-repeat="weapon in model.selectedWeapons">{{weapon}}</div>
                        </div>
                        <div id="unitSecondaries">
                            <div class="weaponList" ng-repeat="secondary in model.selectedSecondaries">{{secondary}}</div>
                        </div>
                        <div id="unitSkills">
                            <div class="skillList" ng-repeat="skill in model.selectedSkills">{{skill}}</div>
                            <div class="skillList" ng-repeat="skill in model.selectedSkillsBack">{{skill}}</div>
                        </div>
                        <div id="unitEquip">
                            <div class="equipList" ng-repeat="equip in model.selectedEquipment">{{equip}}</div>
                            <div class="equipList" ng-repeat="equip in model.selectedEquipmentBack">{{equip}}</div>
                        </div>
                    </div>
                </div>
                <div id="statsDiv" class="cutCorner">
                    <table id="stats">
                        <tr id="statsHeader">
                            <td class="stath">MOV</td>
                            <td class="stath">CC</td>
                            <td class="stath">BS</td>
                            <td class="stath">PH</td>
                            <td class="stath">WIP</td>
                            <td class="stath">ARM</td>
                            <td class="stath">BTS</td>
                            <td class="stath">W</td>
                            <td class="stath">S</td>
                        </tr>
                        <tr id="unitStats">
                            <td class="stat" id="mov">{{model.MOV}}</td>
                            <td class="stat" id="cc">{{model.CC}}</td>
                            <td class="stat" id="bs">{{model.BS}}</td>
                            <td class="stat" id="ph">{{model.PH}}</td>
                            <td class="stat" id="wip">{{model.WIP}}</td>
                            <td class="stat" id="arm">{{model.ARM}}</td>
                            <td class="stat" id="bts">{{model.BTS}}</td>
                            <td class="stat" id="w">{{model.W}}</td>
                            <td class="stat" id="s">{{model.S}}</td>
                        </tr>
                    </table>
                </div>
                <div id="statsBottom" class="cutCornerBottom"></div>
                <div id="unitScores">
                    <div id="scoresTop" class="cutCorner">
                        Lifetime Stats
                    </div>
                    <div id="scoresBottom" class="cutCornerBottom">
                        <table id="scoresTable">
                            <tr>
                                <td class="scores">Kills:</td>
                                <td class="scoresInput">{{model.kills}}</td>
                                <td class="scores">Deaths:</td>
                                <td class="scoresInput">{{model.deaths}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div id="backgroundFront" ng-show="model.backgroundOnFront">
                    <div id="backgroundHeader" class="cutCorner">
                        Background
                    </div>
                    <div class="cutCornerBottom">
                        {{model.background}}
                    </div>
                </div>
                <div ng-repeat="skill in skills">
                    <div ng-repeat="selectedSkill in model.selectedSkills" ng-if="skill.name == selectedSkill">
                        <div class="cutCorner skillType{{skill.type}}">
                            <div class="skillName">{{skill.name}}</div>
                            <div class="skillType">{{skill.type}}</div>
                        </div>
                        <div class="cutCornerBottom">{{skill.desc}}</div>
                    </div>
                </div>
                <div ng-repeat="equip in equipment">
                    <div ng-repeat="selectedEquip in model.selectedEquipment" ng-if="equip.name == selectedEquip">
                        <div class="cutCorner equipType{{equip.type}}">
                            <div class="equipName">{{equip.name}}</div>
                            <div class="equipType">{{equip.type}}</div>
                        </div>
                        <div class="cutCornerBottom">{{equip.desc}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div id="cardBackBackground">
            <div id="backHeader"></div>
            <div ng-show="model.hasCamo || model.canBeLt" id="hiddenInfoContainter">
                <div class="cutCornerBack" id="hiddenInfo">
                    Hidden Information
                </div>
                <div class="cutCornerBackBottom" id="hiddenInfoBottom">
                    <div id="camoSpace" ng-show="model.hasCamo">Camo Number:</div>
                    <div id="ltSpace" ng-show="model.canBeLt">Is LT?
                        <div id="ltBox"></div>
                    </div>
                </div>
            </div>
            <div id="backgroundFront" ng-hide="model.backgroundOnFront">
                <div id="backgroundHeader" class="cutCorner">
                    Background
                </div>
                <div class="cutCornerBottom">
                    {{model.background}}
                </div>
            </div>
            <div ng-repeat="skill in skills">
                <div ng-repeat="selectedSkill in model.selectedSkillsBack" ng-if="skill.name == selectedSkill">
                    <div class="cutCornerBack skillType{{skill.type}}">
                        <div class="skillName">{{skill.name}}</div>
                        <div class="skillType">{{skill.type}}</div>
                    </div>
                    <div class="cutCornerBackBottom">{{skill.desc}}</div>
                </div>
            </div>
            <div ng-repeat="equip in equipment">
                <div ng-repeat="selectedEquip in model.selectedEquipmentBack" ng-if="equip.name == selectedEquip">
                    <div class="cutCornerBack equipType{{equip.type}}">
                        <div class="equipName">{{equip.name}}</div>
                        <div class="equipType">{{equip.type}}</div>
                    </div>
                    <div class="cutCornerBackBottom">{{equip.desc}}</div>
                </div>
            </div>
        </div>

    </div>
    <div id="footer" ng-hide="hideInput">
        Infinity is &copy;2015 Corvus Belli S.L.L.
        <br> Currently used without permission. Permission is being requested.
        <br>
        <a href="http://www.infinitythegame.com">Visit their site</a>
    </div>
</body>

</html>