<!DOCTYPE html>
<html ng-app="infinityCardApp">

<head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
    <script src="js/app.js"></script>
    <script src="js/inputPanel.js"></script>
    <script src="js/cardFront.js"></script>
    <script src="js/cardBack.js"></script>
    <script src="https://ruhley.github.io/angular-color-picker/bower_components/tinycolor/dist/tinycolor-min.js"></script>
    <script src="https://ruhley.github.io/angular-color-picker/bower_components/angular-color-picker/angularjs-color-picker.min.js"></script>
    <script src="https://likeastore.github.io/ngDialog/js/ngDialog.min.js"></script>
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/input-panel.css">
    <link rel="stylesheet" href="https://ruhley.github.io/angular-color-picker/bower_components/angular-color-picker/angularjs-color-picker.min.css" />
    <link rel="stylesheet" href="https://likeastore.github.io/ngDialog/css/ngDialog.css" />
    <link rel="stylesheet" href="https://likeastore.github.io/ngDialog/css/ngDialog-theme-default.css" />

    <title>Infinty Card Generator</title>
    <link href='https://fonts.googleapis.com/css?family=Orbitron:500,800' rel='stylesheet' type='text/css'>
</head>

<body ng-controller="InfinityCardController">
    <div id="inputArea" ng-hide="hideInput">
        <input-panel header="Unit Selection">
            <p class="note">Note: Selecting units here may override previously provided inputs.</p>
            <select class="fullSelect" ng-model="temp.faction" ng-options="unit.faction for unit in units" ng-change="setFaction()">
            </select>
            <br>
            <select class="fullSelect" ng-model="temp.unit" ng-options="unit.fullName for unit in temp.faction.units" ng-change="setUnit()">
            </select>
            <br>
            <select class="fullSelect" ng-model="temp.loadout" ng-options="loadout.name for loadout in temp.unit.loadouts" ng-change="setLoadout()">
            </select>
        </input-panel>

        <input-panel header="Card Header">
            <label>Name</label>
            <input type="text" ng-model="model.name">
            <br>
            <label>Faction</label>
            <input type="text" ng-model="model.faction">
            <br>
            <label>Unit</label>
            <input type="text" ng-model="model.unit">
            <br>
            <label>Cube:</label>
            <select id="cube" ng-model="model.cube">
                <option value="none">None</option>
                <option value="cube">Cube</option>
                <option value="cube 2.0">Cube 2.0</option>
            </select>
            <br>
            <label>Order Type</label>
            <select id="order" ng-model="model.order">
                <option value="regular">Regular</option>
                <option value="irregular">Irregular</option>
            </select>
            <br>
            <label>Fury</label>
            <select id="fury" ng-model="model.fury">
                <option value="notImpetuous">Not Impetuous</option>
                <option value="impetuous">Impetuous</option>
                <option value="exImpetuous">Extremely Impetuous</option>
                <option value="frenzy">Frenzy</option>
            </select>
            <br>
            <input type="checkbox" ng-model="model.hackable" />
            <label>Hackable</label>
            <br>
            <label>Unit Image</label>
            <input type="text" ng-model="model.unitImage">
            <br>
            <label>Cost:</label>
            <br>
            <label>Points:</label>
            <input type="text" ng-model="model.cost">
            <label>SWC:</label>
            <input type="text" ng-model="model.swc">
            <br>
            <label>Specialist Type:</label>
            <select ng-model="model.specialist">
                <option ng-repeat="special in specialistTypes" value="{{special.value}}">{{special.name}}</option>
            </select>
        </input-panel>
        <input-panel header="Skills, Weapons, and Equipment">
            <table>
                <tr>
                    <td>
                        <label>Skills on Front:</label>
                        <br>
                        <select multiple size="10" ng-model="model.selectedSkills">
                            <option ng-repeat="skill in skills" type="checkbox" class="skillCheck" value="{{skill.name}}">{{skill.name}}</option>
                        </select>
                    </td>
                    <td>
                        <label>Skills on Back:</label>
                        <br>
                        <select multiple size="10" ng-model="model.selectedSkillsBack">
                            <option ng-repeat="skill in skills" type="checkbox" class="skillCheck" value="{{skill.name}}">{{skill.name}}</option>
                        </select>
                    </td>
                </tr>
                    <td colspan="2"><button ng-click="showAddSkill()">Add a Skill</button></td>
                <tr>
                </tr>
                <tr>
                    <td>
                        <label>Weapons:</label>
                        <br>
                        <select multiple size="10" ng-model="model.selectedWeapons">
                            <option ng-repeat="weapon in weapons" value="{{weapon.name}}">{{weapon.name}}</option>
                        </select>
                    </td>
                    <td>
                        <label>CC Weapons:</label>
                        <br>
                        <select multiple size="10" ng-model="model.selectedSecondaries">
                            <option ng-repeat="secondary in secondaryWeapons" value="{{secondary.name}}">{{secondary.name}}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Equipment on Front:</label>
                        <br>
                        <select multiple size="10" ng-model="model.selectedEquipment">
                            <option ng-repeat="equip in equipment" value="{{equip.name}}">{{equip.name}}</option>
                        </select>
                    </td>
                    <td>
                        <label>Equipment on Back:</label>
                        <br>
                        <select multiple size="10" ng-model="model.selectedEquipmentBack">
                            <option ng-repeat="equip in equipment" value="{{equip.name}}">{{equip.name}}</option>
                        </select>
                    </td>
                </tr>
            </table>
        </input-panel>
        <input-panel header="Lifetime Scores">
            <label>Kills:</label>
            <input type="text" ng-model="model.kills" />
            <br>
            <label>Deaths:</label>
            <input type="text" ng-model="model.deaths" />
        </input-panel>

        <input-panel header="Unit Stats">
            <table id="inputTable">
                <tr>
                    <th>MOV</th>
                    <th>CC</th>
                    <th>BS</th>
                    <th>PH</th>
                    <th>WIP</th>
                    <th>ARM</th>
                    <th>BTS</th>
                    <th>W</th>
                    <th>S</th>
                </tr>
                <tr>
                    <td/>
                    <td>
                        <input type="text" size=2 ng-model="model.MOV">
                    </td>
                    <td>
                        <input type="text" size=2 ng-model="model.CC">
                    </td>
                    <td>
                        <input type="text" size=2 ng-model="model.BS">
                    </td>
                    <td>
                        <input type="text" size=2 ng-model="model.PH">
                    </td>
                    <td>
                        <input type="text" size=2 ng-model="model.WIP">
                    </td>
                    <td>
                        <input type="text" size=2 ng-model="model.ARM">
                    </td>
                    <td>
                        <input type="text" size=2 ng-model="model.BTS">
                    </td>
                    <td>
                        <input type="text" size=2 ng-model="model.W">
                    </td>
                    <td>
                        <input type="text" size=2 ng-model="model.S">
                    </td>
                </tr>
            </table>
        </input-panel>
        <input-panel header="Character Background">
            <textarea id="textArea" ng-model="model.background" cols="55" rows="5">{{model.background}}</textarea>
            <br>
            <input type="checkbox" ng-model="model.backgroundOnFront" />
            <label>Background on front</label>
            <br>
            <input type="checkbox" ng-model="model.hideBackground" />
            <label>Hide background</label>
            <br>
        </input-panel>
        <input-panel header="Hidden Information">
            <input type="checkbox" ng-model="model.hasCamo" />
            <label>Camoflaged Unit?</label>
            <br>
            <input type="checkbox" ng-model="model.canBeLt" />
            <label>Can be Lieutennant?</label>
            <br>
        </input-panel>

        <input-panel header="Card Colors" id="cardColors">
            <!-- Unfortuantely, I have not been able to figure out how to allow the background color to change.
            <label>Card Background</label>
            <color-picker ng-model="model.cardBackground" color-picker-format="'hex'" color-picker-alpha="false" color-picker-swatch-bootstrap="false"></color-picker> -->
            <div id="colorFlex">
                <div class="colorHolder">
                    <label>Header Background</label>
                    <color-picker ng-model="model.headerBackground" color-picker-format="'hex'" color-picker-alpha="false" color-picker-swatch-bootstrap="false"></color-picker>
                </div>
                <div class="colorHolder">
                    <label>Header Text</label>
                    <color-picker ng-model="model.headerTextColor" color-picker-format="'hex'" color-picker-alpha="false" color-picker-swatch-bootstrap="false"></color-picker>
                </div>
                <div class="colorHolder">
                    <label>Unit Stats Background</label>
                    <color-picker ng-model="model.unitStatsBackground" color-picker-format="'hex'" color-picker-alpha="false" color-picker-swatch-bootstrap="false"></color-picker>
                </div>
                <div class="colorHolder">
                    <label>Unit Stats Text</label>
                    <color-picker ng-model="model.unitStatsText" color-picker-format="'hex'" color-picker-alpha="false" color-picker-swatch-bootstrap="false"></color-picker>
                </div>
                <div class="colorHolder">
                    <label>Lifetime Scores Background</label>
                    <color-picker ng-model="model.scoresBackground" color-picker-format="'hex'" color-picker-alpha="false" color-picker-swatch-bootstrap="false"></color-picker>
                </div>
                <div class="colorHolder">
                    <label>Lifetime Scores Text</label>
                    <color-picker ng-model="model.scoresText" color-picker-format="'hex'" color-picker-alpha="false" color-picker-swatch-bootstrap="false"></color-picker>
                </div>
                <div class="colorHolder">
                    <label>Background... Background</label>
                    <color-picker ng-model="model.backgroundBackground" color-picker-format="'hex'" color-picker-alpha="false" color-picker-swatch-bootstrap="false"></color-picker>
                </div>
                <div class="colorHolder">
                    <label>Background Text</label>
                    <color-picker ng-model="model.backgroundText" color-picker-format="'hex'" color-picker-alpha="false" color-picker-swatch-bootstrap="false"></color-picker>
                </div>
                <div class="colorHolder">
                    <label>Skills Background</label>
                    <color-picker ng-model="model.skillsBackground" color-picker-format="'hex'" color-picker-alpha="false" color-picker-swatch-bootstrap="false"></color-picker>
                </div>
                <div class="colorHolder">
                    <label>Skills Text</label>
                    <color-picker ng-model="model.skillsText" color-picker-format="'hex'" color-picker-alpha="false" color-picker-swatch-bootstrap="false"></color-picker>
                </div>
                <div class="colorHolder">
                    <label>Equipment Background</label>
                    <color-picker ng-model="model.equipmentBackground" color-picker-format="'hex'" color-picker-alpha="false" color-picker-swatch-bootstrap="false"></color-picker>
                </div>
                <div class="colorHolder">
                    <label>Equipment Text</label>
                    <color-picker ng-model="model.equipmentText" color-picker-format="'hex'" color-picker-alpha="false" color-picker-swatch-bootstrap="false"></color-picker>
                </div>
                <div class="colorHolder">
                    <label>Hidden Info Header Background</label>
                    <color-picker ng-model="model.hiddenInfoHeaderBackground" color-picker-format="'hex'" color-picker-alpha="false" color-picker-swatch-bootstrap="false"></color-picker>
                </div>
                <div class="colorHolder">
                    <label>Hidden Info Header Text</label>
                    <color-picker ng-model="model.hiddenInfoHeaderColor" color-picker-format="'hex'" color-picker-alpha="false" color-picker-swatch-bootstrap="false"></color-picker>
                </div>
                <div class="colorHolder">
                    <label>Hidden Info Background</label>
                    <color-picker ng-model="model.hiddenInfoBackground" color-picker-format="'hex'" color-picker-alpha="false" color-picker-swatch-bootstrap="false"></color-picker>
                </div>
                <div class="colorHolder">
                    <label>Hidden Info Text</label>
                    <color-picker ng-model="model.hiddenInfoColor" color-picker-format="'hex'" color-picker-alpha="false" color-picker-swatch-bootstrap="false"></color-picker>
                </div>
                <div class="colorHolder">
                    <label>Weapon Text</label>
                    <color-picker ng-model="model.weaponText" color-picker-format="'hex'" color-picker-alpha="false" color-picker-swatch-bootstrap="false"></color-picker>
                </div>
                <div class="colorHolder">
                    <label>CC Weapon Text</label>
                    <color-picker ng-model="model.ccWeaponText" color-picker-format="'hex'" color-picker-alpha="false" color-picker-swatch-bootstrap="false"></color-picker>
                </div>
                <div class="colorHolder">
                    <label>Skills List Text</label>
                    <color-picker ng-model="model.skillsListText" color-picker-format="'hex'" color-picker-alpha="false" color-picker-swatch-bootstrap="false"></color-picker>
                </div>
                <div class="colorHolder">
                    <label>Equipment Lists Text</label>
                    <color-picker ng-model="model.equipmentListText" color-picker-format="'hex'" color-picker-alpha="false" color-picker-swatch-bootstrap="false"></color-picker>
                </div>
                <div class="colorButtonHolder">
                    <button ng-click="resetColors()">Reset to Default Colors</button>
                </div>
            </div>
        </input-panel>
        <div class="inputBlock">
            <h3>JSON Input/Output (Temporary Storage)</h3>
            <input type="checkbox" ng-model="showJson" />
            <label>Show JSON</label>
            <br>
            <textarea id="jsonInput" json-text ng-model="model" ng-show="showJson" rows="15" cols="55"></textarea>
        </div>
    </div>
    <div id="hideInputBox">
        <button ng-click="saveToPc()">Save To PC</button>
        <input type="checkbox" ng-model="hideInput" />
        <label>Hide Input</label>
        <a class="directLink" href="multi-print.html">Go To Multi-Printer<img src="images/arrow-right.png"/></a>
        <a class="directLink" href="https://github.com/DaveSpringer/InfinityCardGenerator/blob/gh-pages/README.md">Help<img src="images/question-mark.png" height="16" width="16"/></a>
        <hr>
    </div>

    <div id="cardHolder">

        <card-front model="model" skills="skills" equipment="equipment"></card-front>
        <card-back model="model" skills="skills" equipment="equipment"></card-back>

    </div>
    <div id="footer" ng-hide="hideInput">
        <a href="http://www.infinitythegame.com">Infinity</a> is &copy;2016 Corvus Belli S.L.L. Images, logos, ideas belong to Corvus Belli.
        <br>Their content is currently used with permission but may be taken down at their request.
        <br>
        <a href="http://www.infinitythegame.com">Visit the Infinity Miniatures Game site</a>
    </div>
</body>

</html>